div#room-owner-view{
    position: absolute;
    left:0px;
    bottom: 0px;
    height: 90%;
    width: 80%;
    background-color: crimson;
    
    display: flex;
    align-items: center;
}

#question-creation-form{
    width: 45%;
    height: 100%;
    background-color: salmon;
}

#results-and-control-panel{
    width: 35%;
    height: 100%;
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#member-management-view{
    width: 20%;
    height: 100%;
    background-color: cyan;
}

#members {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

#results{
    height:50%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#control-panel{
    height:50%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.owner-label{
    width: 100%;
    text-align: center;
    background-color: darkorchid;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 2px solid black;
    outline-offset: -2px;
}

.inset-border{
    outline: 2px solid black;
    outline-offset: -2px;
}

#member-count-display{
    padding:0px;
    margin: 0px;
    text-align: center;
    width: 100%
}

.kick-member{
    cursor: pointer
}

#create-question{
    padding: 10px;
}

#question-label-and-input-container{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

#form-question-label{
    padding-right: 20px;
}

#form-question-input{
    width: 100%;
    overflow-y: auto;
    resize: none;
}

#image-label-and-input-container{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

#form-image-label{
    padding-right: 10px;
}

#form-image-input{
    width: 80%;
    margin-left: 10%;
}

#form-options-label{
    text-align: center;
    margin: auto;
    display: block;
}

#options-table{
    width: 100%
}

#table-options{
    display:flex;
    width: 100%;
    justify-content: center;
}
#add-option{
    margin-right: 20px;
    cursor: pointer;
}
#remove-option{
    margin-left: 20px;
    cursor: pointer;
}
#submit-question-button{
    width: 200px;
    margin: auto;
}
#submit-container{
    margin: auto;
    width: 200px;
    text-align: center;
}

#current-question{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#current-question-label{
    padding: 0;
    margin: 0;
}

#question-creation-form{
    overflow-y: auto;
}

#stop-accepting-responses{
    margin: auto;
}

.spread-box{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.spread-box div{
    margin: 10px;
    padding: 3px;
    border: 2px solid black;
}

hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

#results-box{
    padding: 20px;
}

#question-literal-label{
    padding: 0;
    margin: 0;
}